/* General styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #95cbefbb;
 }
 
 #container {
    max-width: 800px;
    margin: 20px auto;
    background: #95cbefbb;
    border-radius: 8px;
    box-shadow: 0
     4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
 }
 
  /* Form styles */
 h1 {
    text-align: center;
    color: #333; 
  text-decoration: double underline;
 }
 
 h2 {
  text-decoration: double underline;
   color: #0077b6;
 }
 
 fieldset {
    border: 2px solid #0077b6;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #e3f2fd;
 }
 
 legend {
    font-size: 18px;
    font-weight: bold;
    color: #1275aa;
    
 }
 
 label {
    display: block;
    margin-bottom: 5px;
    color: #5b83a9;
 }
 
 input, textarea, button {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
 }
 
 /* Unique colors for buttons */
 button {
    display: block;
    width: auto;
    background-color: #1275aa;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px auto;
    padding: 10px 20px;
    transition: background-color 0.3s;
 }
 
 button:hover {
    background-color: #005f91;
 }
 
 /* Resume display styles */
 #resumePage {
    padding: 20px;
    background-color: #9fc2d7bb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    color: #0077b6;
   
 }
 
 .hidden {
    display: none;
 }
 
  #resumePhoto{
    display: flex;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 2px solid #0077b6;
 }
 
 #resumeContent h1 {
    color: #0077b6;
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: none;
 }
 
 #resumeLocation{
    color:#0f0505;
    font: size 1px;
    margin: bottom 10px;
    text-align:center;
    text-decoration:none;
 }
 
 #resumeContent p {
    text-decoration: none;
    margin: 10px 0;
    font-size: 16;
    color:#0f0505;  
 }
 
 /* Buttons on Resume Page */
 #resumeEditButton {
    background-color: #1275aa;
 }
 
 #resumeEditButton:hover {
    background-color: #1275aa;
 }
 
 /* Additional styles for responsiveness */
 @media (max-width: 100px) {
    input, textarea, button {
        width: calc(100% - 10px);
    }
 
    #container {
        padding: 10px;
    }
 
    button {
        font-size: 14px;
    }
 };
  
 @media print {
    #container {
        display: none; /* Hide the form */
    }
    #resumePage {
        display: block; /* Ensure resume is displayed */
    }
 }